/*UTILITIES*/
/*Additional classes out of bootstrap, they have underscore _*/
.h_600{
  height:600px;
}
.h_400 {
  height: 400px;
}
.p_20{
  padding:20px;
}
.bd {
  border: black 1px solid;
}
.bg_colorlight {
  background-color: #efeae6;
}
.bg_colordark {
  background-color: #ebe2db;
}
.m_100 {
  margin: 100px 0;
}
.center {
  margin: 0 auto;
}
.m_left30 {
  margin-left: 30px;
}
.m_right30 {
  margin-right: 30px;
}
